<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Accounts" asp-action="SignIn">Sign In</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Accounts" asp-action="Login">Login</a>
    </li>
</ul>